Flask==0.10.1
Flask-WTF==0.9.5
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.0
pandas==0.19.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.6.2
six==1.10.0
Werkzeug==0.12.2
WTForms==1.0.5
